.col-6{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
img{
    height: 700px;
}
form{
    height: 700px;
    padding: 100px;
    background-color:#96C9F4;
}
label{
    display: block;
    margin:5px 0px;
    padding: 10px;
    padding-left: 50px;
}
input{
    margin-top: 10px 0px;
    padding: 5px;
    width: 300px;
    margin-left: 50px;
    border-radius: 8px;
    border: none;
}
form h1,p{
    text-align: center;
}
form p{
    font-style: italic;
    padding-top: 10px;
    color:whitesmoke;
}
.contain{
    display: block;
    padding: 40px;
}
.contain button{
    margin: 10px 0px;
    margin-left: 160px;
    border: none;
    background-color: #EEEEEE;
    border-radius: 5px;
    padding: 5px;
}
.contain p a{
    text-decoration: none;
    color:black;
    padding-left: 190px;
    margin-top: 20px;
}
.icons{
    padding-left: 160px;
}
.icons i{
    font-size: 30px;
    gap: 30px;
    padding-right: 10px;
}
form p a{
    text-decoration: none;
    color:black;
}
form p a:hover{
    color: brown;
}
form button:hover{
    background-color: #1679AB;
    color: black;
}
img{
    position: fixed;
}
.col-6,.head,.p1{
    z-index: 1;
    color: white;
}
.head,.p1{
    text-align: center;
}
.head{
    margin-top: 40px;
    font-family: cursive;
}
